#nomeloja {
	text-align: center;
	font-size: 50px;
	font-family: Copperplate, fantasy;
	color: #D00000;
	background-color: rgba(0, 0, 156, 0.3);
	font-weight: bold;
}

#subtitulo {
	text-align: center;
	font-size: 25px;
	font-family: Copperplate, fantasy;
	color: #2E3092;
}

#promocoes {
	text-align: center;
	font-size: 25px;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: bold;
}

.produtos {
	height: 200px;
	width: 200px;
}